.logoLink{
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    font-weight: 900 !important;
    letter-spacing: 1px;
    color: black !important;
}
.logoLink:hover {
    color: #3bb78f !important;
    animation: topbot 0.5s linear;
    
}


    

@keyframes topbot{
    0%{
      /* transform: translateY(0); */
      transform: rotatex(0);
    }
    100%{
      /* transform: translateY(-10px); */
      transform: rotateX(360deg);
    }
      
    
  }
.active {

    border-bottom: 5px solid #3bb78f;
    border-radius: 1px;
}
.navbar{
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0 !important;
    z-index: 100;
    opacity: 0.9;
}
.nav_container{
    padding: 0 0rem;
}
.nav_margin{
    margin: 0 20px;
}
.nav_box{
    width: 180px;
    height: 30px;
    opacity: 1;
    position: absolute;
}
.display_navbar{
    display: flex;
    justify-content: space-between;
}
.nav_box_first{
    z-index: 2;
    border: 3px solid #fff;
    /* background: #fff; */
    background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    
}
.nav_box_second {
    top: 6px;
    left: 6px;
    border: 3px solid #fff;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);;
    z-index: 1;
    position: relative;
    /* padding-left: 12rem !important; */
}

.nav_box_first p {
    font-family: 'Gothic A1', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    color: black;
}

.nav_box_first p:hover {
    color: #fff;
    /* transform: scale(1.1); */
    animation:  shake 0.8s  ;
}

@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }


  @media only screen and (max-width: 1400px) {
   
    .nav_margin{
        margin: 0 10px;
    }
    
}

@media only screen and (max-width: 1200px) {
   
    .logoLink{
       
        font-size: 14px;
    }
    .nav_margin{
        margin: 0 0px;
    }
    
    
}
@media only screen and (max-width: 991px) {
    .nav_container{
        padding: 0 .2rem;
    }
    .display_navbar{
        display: block;
        
    }
}

@media only screen and (max-width: 400px) {
    .nav_container{
        padding: 0 0.1rem;
    }
}
.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
}