.story{
    padding-top: 8rem;
    margin-bottom: 20rem;

}
.story_rap{
    padding: 1rem 6rem;
}
.story_heading {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 22px !important;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 8rem;
}
.story_logo{
    width: 12%;
}
.story_content p {
    color: #030303; 
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 60px;
}
.story_img{
    display: flex;
    justify-content: flex-end;

}
.story_img img {
    width: 30%;
}
.bottom_img{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.bottom_img img {
    width: 40%;
}

@media only screen and (max-width: 993px) {
    .story_rap{
        padding: 1rem 1rem;
    }
    
    .story_img img {
        width: 35%;
        margin: 1rem;
    }
    .story_content p {
      
        font-size: 20px !important;
        
    }
  }


  @media only screen and (max-width: 768px) {
    .story_rap{
        padding: 0;
    }
    
    .story_img img {
        width: 45%;
        margin: 1rem;
    }
    .story_content p {
      
        font-size: 18px !important;
        
    }
  }
  @media only screen and (max-width: 400px) {
    .story_rap{
        padding: 1rem;
    }
    
    .story_img img {
        width: 50%;
        margin: 1rem;
    }
    .story_content p {
      
        font-size: 16px !important;
        
    }
    .bottom_img img {
        width: 70%;
    }
  }
