.feature4 {
    margin-top: 60rem;
    /* overflow-x: hidden !important; */
   
}

.feature4_main{
    /* position: absolute; */
    /* margin-top: 30rem; */

}

.feature4_main_img{
    width: 14%;
    margin: 0rem 46%;
}
.feature1_main_img{
    width: 20%;
}
.feature2_main_img{
    width: 20%;
}
.feature_main_img_4{
    width: 20%;

}

.feature3_main_img{
    width: 20%;
}
.feature1_main{
    display: flex;
    align-items: center;
    
}
.feature1_main_text span {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
    letter-spacing: 3px;
    
    margin-left: 2rem;
   /* padding-top: 5rem; */
}

.feature1_main_text p {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 30px;
    width: 25%;
    
    margin-left: 2rem;
    margin-top: 2rem;
}
.feature2_main{
    display: flex;
    justify-content: end;
    /* align-items: center; */

    margin-top: -33rem;
}

.feature2_main_text{
    display: flex !important;
    justify-content: end !important;
}

.feature2_main_text_h {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: end !important;
    margin-right: 5rem;
    margin-top: 3rem;
    

}

.feature2_main_text_p {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 30px;
    width:25%;
    margin-right: 5rem;
    
    margin-left: 70% !important;
}
.feature3_main{
    display: flex;
    align-items: center;
}
.feature3_main_text span {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
    letter-spacing: 3px;
    
    margin-left: 2rem;
   /* padding-top: 5rem; */
}
.feature3_main_text p {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 30px;
    width: 25%;
    
    margin-left: 2rem;
    margin-top: 2rem;
}

.feature_main_4{
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: -33rem;
}

.feature4_main_text{
    display: flex !important;
    justify-content: end !important;
}

.feature4_main_text_h {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: end !important;
    margin-right: 5rem;
    margin-top: 3rem;
    

}
.line1{
    margin-top: -31rem;
    margin-left: 28%;
}
.line2{
    margin-top: -31rem;
    margin-left: 12%;
}
.line3{
    margin-top: -7rem;
    margin-left: 35%;
}

.line4{
    margin-top: -7rem;
    margin-left: 9%;
}


.feature4_main_text_p {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 30px;
    width:25%;
    margin-right: 5rem;
    
    margin-left: 70% !important;
}


@media only screen and (max-width: 1400px) {
    .feature2_main{
        margin-top: -29rem;
    }
    .feature_main_4{
        
        margin-top: -29rem;
    }
    .feature4_main_img{
       
        margin: 0rem 43%;
    }

    .line1{
        margin-top: -29rem;
        margin-left: 22%;
    }
    .line2{
        margin-top: -29rem;
        margin-left: 9%;
    }
    .line3{
        margin-top: -7rem;
        margin-left: 30%;
    }
    
    .line4{
        margin-top: -7rem;
        margin-left: 9%;
    }

    
  }
  
  @media only screen and (max-width: 1200px) {
    .feature2_main{
        margin-top: -35rem;
        /* align-items: center; */
    }
    .feature_main_4{
        
        margin-top: -32rem;
    }
    .feature4_main_img{
       
        margin: 0rem 43%;
    }

    .line1{
        margin-top: -26rem;
        margin-left: 18%;
    }
    .line2{
        margin-top: -26rem;
        margin-left: 11%;
    }
    .line3{
        margin-top: -7rem;
        margin-left: 26%;
    }
    
    .line4{
        margin-top: -6rem;
        margin-left: 9%;
    }
    .feature4_main_text_h {
      
        margin-right: 2rem;
        margin-top: 3rem;
        
    
  }
  .feature2_main_text_h {
      
    margin-right: 2rem;
    margin-top: 3rem;
    

}

.feature1_main_img{
    width: 22%;
}
.feature2_main_img{
    width: 22%;
}
.feature_main_img_4{
    width: 22%;

}

.feature3_main_img{
    width: 22%;
}
}

@media only screen and (max-width: 991px) {
    .feature2_main{
      
        align-items: center;
    
        margin-top: -33rem;
    }

    .feature1_main_text span {
        font-size: 12px !important;
    }
    
    .feature1_main_text p {
        font-size: 10px !important;
        line-height: 28px;
    }
    .feature2_main_text span {
        font-size: 12px !important;
    }
    
    .feature2_main_text p {
        font-size: 10px !important;
        line-height: 28px;
    }

    .feature4_main_img{
       width: 20%;
        margin: 8rem 40% 1rem 40%;
    }



    .line1{
        margin-top: -27rem;
        margin-left: 10%;
    }
    .line2{
        margin-top: -27rem;
        margin-left: 15%;
    }
    .line3{
        margin-top: -8rem;
        margin-left: 20%;
    }
    
    .line4{
        margin-top: -8rem;
        margin-left: 13%;
    }

    
    .feature3_main_text span {
        font-size: 12px !important;
    }
    
    .feature3_main_text p {
        font-size: 10px !important;
        line-height: 28px;
    }
    .feature4_main_text span {
        font-size: 12px !important;
    }
    
    .feature4_main_text p {
        font-size: 10px !important;
        line-height: 28px;
    }
}


@media only screen and (max-width: 767px) {
    .feature1_main_text span {
        font-size: 11px !important;
    }
    
    .feature1_main_text p {
        font-size: 8px !important;
        line-height: 22px;
    }

    .feature2_main{
        margin-top: -29rem;
    }
    .feature2_main_text span {
        font-size: 11px !important;
    }
    
    .feature2_main_text p {
        font-size: 8px !important;
        line-height: 22px;
    }

    .feature4_main_img{
       width: 25%;
        margin: 4rem 40% 1rem 40%;
    }



    .line1{
        margin-top: -29rem;
        margin-left: -5%;
    }
    .line2{
        margin-top: -29rem;
        margin-left: 19%;
        margin-right: -35% !important;
    }
    .line3{
        margin-top: -7.5rem;
        margin-left: 9%;
    }
    
    .line4{
        margin-top: -7.5rem;
        margin-left: 19%;
    }

    
    .feature3_main_text span {
        font-size: 11px !important;
    }
    
    .feature3_main_text p {
        font-size: 8px !important;
        line-height: 22px;
    }
    .feature4_main_text span {
        font-size: 11px !important;
    }
    
    .feature4_main_text p {
        font-size: 8px !important;
        line-height: 22px;
    }
}

@media only screen and (max-width: 630px) {
   


    .line1{
        width: 30%;
        margin-top: -24rem;
        margin-left: 8%;
    }
    .line2{
        width: 30%;

        margin-top: -24rem;
        margin-left: 20%;
        margin-right: 0% !important;
    }
    .line3{
        margin-top: -8rem;
        margin-left: 18%;
        width: 20%;

    }
    
    .line4{
        margin-top: -8rem;
        margin-left: 18%;
        width: 20%;

    }

    .feature4_main_img{
        width: 25%;
         margin: 4rem 35% 1rem 35%;
     }
    
}

@media only screen and (max-width:500px) {
    .feature2_main{
       
        margin-top: -34rem;
    }

    .feature_main_4{

        margin-top: -32rem;
    }

    .feature4_main_img{
        width: 25%;
         margin: 8rem 35% 1rem 35%;
     }
    
}

@media only screen and (max-width:400px) {
    .feature2_main{
       
        margin-top: -41rem;
    }

    .feature_main_4{

        margin-top: -39rem;
    }

    .feature4_main_img{
        width: 25%;
         margin: 8rem 35% 1rem 35%;
     }
    
}

