.problem{
    margin-top: 12rem;
}
.problem_rap{
    padding:1rem 6rem;
}
.problem_heading {
    
        color: #030303;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 700;
        letter-spacing: 3px;
        line-height: 65px;
        margin-bottom: 6rem;
}

.problem_heading span {
    color: #F78A8A;
}

.problem_content1{
    color: #030303;
    font-size: 23px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 55px;
}
.problem1_img{
    margin-top: -4rem;
}
.problem2_img{
    margin-top: 15rem;
    display: flex;
    justify-content: end;
}
.problem2_img img {
    width: 30%;
}
