.solution{
    margin: 6rem 0;
}
.solution_rap{
    padding:1rem 6rem;
}

.solution_heading{
    border: 4px solid black;
    box-shadow: 15px 15px black;
    margin-bottom: 9rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.solution_heading p {
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 55px !important;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 0.5rem 3rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solution_img1{
    width: 55%;
    margin-left: 6rem;
}
.solution_para{
    color: 	#383838;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px !important;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 60px;
    z-index: -1 !important;
    
}
/* .solution_para img {
    margin-right: -5rem;
    z-index: 100 !important;
} */

.solution_button{
    margin-top: -3rem;
    display: flex;
    justify-content: end;
}
.three_solution{
    margin-top: 10rem;
    margin-bottom: 8rem;
}
.solution_box {
    width: 310px;
    height: 250px;
    background-color: #EEFFC9;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.solution_box_text p {
    color: 	#383838;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.solution3_1_img{
    width: 33%;
    /* margin: -40px 0 0 80px; */
    position: relative;
    top: 110%;
    left: 30%;
}
.solution3_2_img{
    width: 35%;
    /* margin: -40px 0 0 100px; */
    position: relative;
    top: 110%;
    left: 30%;
}
.solution3_3_img{
    width: 25%;
    /* margin: -35px 0 0 110px; */
    position: relative;
    top: 120%;
    left: 30%;
}
.solution_circle{
    width: 70px;
    height: 70px;
     background-color: #F9A76D;
    border-radius: 50%;
    position: relative;
    top: 15%;
    left: 35%;
    z-index: 100;
    
}
.solution_number{
    color: 	#fff;
    /* font-family: 'Gothic A1', sans-serif; */
    font-size: 35px !important;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 40px;
    display: flex;
    justify-content: center;
   padding-top:25px;
   padding-left: 5px;
}

@media only screen and (max-width: 1400px) {
    .solution_heading{
       
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .solution_box {
        width: 280px;
        height: 230px;
       
    }
  }
  @media only screen and (max-width: 1200px) {
    .solution_heading{
       
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .solution_heading p {
        
        font-size: 45px !important;
       
        letter-spacing: 4px;
        padding: 0.5rem 3rem;
        margin-top: 20px;
      
    }
    .solution_rap{
        padding:2rem;
    }
  }

  @media only screen and (max-width: 992px) {
    .solution_heading{
       
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .solution_heading p {
        
        font-size: 35px !important;
       
        letter-spacing: 2px;
        padding: 0.5rem 0.5rem;
        margin-top: 20px;
      
    }
    .solution_rap{
        padding:2rem;
    }
    .solution_img1{
        width: 45%;
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    .solution_box {
        width: 580px;
        height: 300px;
      

    }
    .feature_bottom_margin{
        margin-bottom: 18rem;

    }
    .solution_circle{
        width: 70px;
        height: 70px;
        top: 13%;
        left: 45%;
    }
    .solution3_2_img{
        width: 22%;
        
        top: 120%;
        left: 40%;
    }
    .solution3_1_img{
        width: 21%;
        
        top: 120%;
        left: 40%;
    }
    .solution3_3_img{
        width: 20%;
        
        top: 130%;
        left: 40%;
    }
  }

  @media only screen and (max-width: 768px) {
    .solution_heading p {
        
        font-size: 25px !important;
       
        letter-spacing: 2px;
        padding: 0.5rem 0.5rem;
        margin-top: 20px;
      
    }
   .solution_logo{
       width: 20%;
   }
   .solution_para{
    
    font-size: 23px !important;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 60px;
    z-index: -1 !important;
    
}
.solution_para_img{
    width: 17%;
}

.solution_box {
    width: 380px;
    height: 220px;
  

}

.feature_bottom_margin{
    margin-bottom: 14rem;

}
.solution_circle{
   
    top: 13%;
    left: 37%;
}
.solution3_2_img{
    width: 22%;
    
    top: 120%;
    left: 37%;
}
.solution3_1_img{
    width: 21%;
    
    top: 120%;
    left: 37%;
}
.solution3_3_img{
    width: 20%;
    
    top: 130%;
    left: 37%;
}

  }

  @media only screen and (max-width: 570px) {
    .solution_heading p {
        
        font-size: 21px !important;
       
        letter-spacing: 2px;
        padding: 0.5rem 0.2rem;
        margin-top: 20px;
      
    }
   .solution_logo{
       width: 20%;
   }
   .solution_heading{
    
    margin-left: 2rem;
    margin-right: 2rem;
}

.solution_box {
    width: 300px;
    height: 220px;
  margin: 0 3rem;

}


.solution_circle{
   
    top: 13%;
    left: 37%;
}
.solution3_2_img{
    width: 22%;
    
    top: 120%;
    left: 35%;
}
.solution3_1_img{
    width: 21%;
    
    top: 120%;
    left: 35%;
}
.solution3_3_img{
    width: 20%;
    
    top: 130%;
    left: 35%;
}
.solution_button{
    margin-top: 1rem;
    
}
  }

  @media only screen and (max-width: 450px) {
    .solution_heading p {
        font-size: 17px !important;
        letter-spacing: 1px;
        padding: 0.5rem 0.2rem;
        margin-top: 20px;
      
    }
   .solution_logo{
       width: 20%;
   }
   .solution_heading{
    
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.solution_para{
 
    font-size: 20px !important;
    
    letter-spacing: 3px;
    
    
}

.solution_box {
    width: 250px;
    height: 220px;
    margin: 0;

}


.solution_circle{
   height: 55px;
   width: 55px;
    top: 13%;
    left: 34%;
}
.solution_number{
   
    font-size: 25px !important;
   padding-top:20px;
   padding-left: 1px;
}
.solution3_2_img{
    width: 22%;
    top:170%;
    left: 35%;
}
.solution3_1_img{
    width: 21%;
    
    top: 170%;
    left: 35%;
}
.solution3_3_img{
    width: 20%;
    
    top: 180%;
    left: 35%;
}
.solution_box_text p {
    
    font-size: 17px !important;
    font-weight: 700;
    letter-spacing: 2px;
    
}
  }

  @media only screen and (max-width: 400px) {
   
   .solution_heading{
    
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 8px 8px black;
}

.solution_circle{
    top: 17%;
    left: 40%;
}
.solution_number{
   padding-top:15px;
   
}
.solution3_2_img{
    width: 28%;
    top:150%;
    left: 39%;
}
.solution3_1_img{
    width: 27%;
    
    top: 150%;
    left: 39%;
}
.solution3_3_img{
    width: 26%;
    
    top: 160%;
    left: 39%;
}
.solution_box_text p {
    
    font-size: 17px !important;
    font-weight: 700;
    letter-spacing: 2px;
    
}
  }