.heroImage{
    width: 45%;
}
.hero{
    margin-top: 11rem !important;
}
.hero_right_image{
    width: 25%;
}
.lineImage{
    width:8%;
}
.hero_para{
    color: #030303;
    font-size: 24px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 65px;
    margin-right: 8rem;
}

@media only screen and (max-width: 1200px) {
    .hero_para{
       
        margin-right: 2rem;
    }
  }

  @media only screen and (max-width: 992px) {
    .heroImage{
       
        margin-bottom: 6rem;

    }
    .hero_para{
       
        margin-right: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .hero_para{
        font-size: 20px;
        margin-right: 0;
        letter-spacing: 4px;
    }
    .heroImage{
       
        margin-bottom: 6rem;

    }
  }
  @media only screen and (max-width: 400px) {
    
    .heroImage{
       
       width: 65%;

    }
  }

