.heroImage{
    width: 65%;
}
.hero_right_image{
    width: 25%;
}
.lineImage{
    width:8%;
}
.hero_para{
    color: #030303;
    font-size: 25px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 65px;
    margin-right: 8rem;
}