

.footer_logo{
    width: 50%;
    margin-top: -10px;
    
}

.footer_list{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.footer_list a {
    text-decoration: none;
    color: #030303;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
}

.footer_button{
    display: flex;
    justify-content: end;

}

@media only screen and (max-width: 1200px) {
    .footer_list a {
        font-size: 17px !important;

    }
  }

  @media only screen and (max-width: 992px) {
    .footer_button{
    display: flex;
    justify-content: start;
    
}
.footer_logo{
    width: 30%;
    margin-top: -10px;
    
}
  }
  @media only screen and (max-width: 768px) {
    .footer_list{
        flex-direction: column;
    }

    .footer_list a {
        text-decoration: none;
        color: #030303;
        font-family: 'Gothic A1', sans-serif;
        font-size: 18px !important;
        font-weight: 700;
        padding-bottom: 15px;
        padding-top: 15px;

    }
  }

  @media only screen and (max-width: 400px) {
   
    .footer_list a {
       
        font-size: 16px !important;
        font-weight: 700;
        

    }
  }